{% extends "orga/base.html" %}

{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block extra_title %}{% trans "Pages" %} ::
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'orga/css/ui/dragsort.css' %}">
{% endblock stylesheets %}

{% block scripts %}
    <script defer src="{% static 'orga/js/ui/dragsort.js' %}"></script>
{% endblock scripts %}

{% block content %}
    {% #page_heading %}
    {% trans "Pages" %}
    {% #slot buttons %}
    <a class="btn btn-primary" href="{% url 'plugins:pretalx_pages:create' event=request.event.slug %}">
        {% trans "Create a new page" %}
    </a>
    {% /slot %}
    {% /page_heading %}
    {% render_table table %}
{% endblock %}
